[Unit]
Description=Platform Observability Logging Agent
Documentation=https://github.com/open-edge-platform/edge-node-agents/blob/main/platform-observability-agent/README.md

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/fluent-bit
EnvironmentFile=-/etc/default/fluent-bit
ExecStart=/opt/fluent-bit/bin/fluent-bit -c /etc/fluent-bit/fluent-bit.conf
StandardOutput=journal
StandardError=journal
RestartSec=60
Restart=on-failure
User=platform-observability-agent
Group=bm-agents
CPUQuota=20%
MemoryMax=128M
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
