#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	$(MAKE) INSTALL_DIR=$$(pwd)/debian/platform-observability-agent install

override_dh_builddeb:
	dh_builddeb -- -Zxz
	
override_dh_installsystemd:
	dh_installsystemd --name=platform-observability-logging
	dh_installsystemd --name=platform-observability-health-check
	dh_installsystemd --name=platform-observability-metrics
	dh_installsystemd --name=platform-observability-collector

override_dh_auto_build:
	dh_auto_build -- clean
