# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

* @cjnolan @rranjan3 @damiankopyto @jkossak @soniabha-intc

# CI files
.github/ @adimoft @daveroge @shanedonohue @manilk1x @cjnolan @rranjan3 @damiankopyto @jkossak @soniabha-intc @niket-intc
