# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

---
version: 'v0.2.0'
logLevel: info
configpath:
    telegraf: /etc/telegraf/telegraf.d/poa-telegraf.conf
    fluentbit: /etc/fluent-bit/fluent-bit.conf

    configroot: /etc/edge-node/node/confs/
    telegrafgoldhost: telegraf-host-gold.yaml
    telegrafgoldcluster: telegraf-cluster-gold.yaml
    fluentbitgoldhost: fluentbit-host-gold.yaml
    fluentbitgoldcluster: fluentbit-cluster-gold.yaml
    tmpdir: /tmp/
global:
    #nodeid is guid, example: ec289fa3-1c7a-95dd-b3d4-9344c2c47778
    nodeid: aaaaaaaa-0000-1111-2222-bbbbbbbbcccc
    updateinterval: 60
    developerMode: false
    statusEndpoint: 'unix:///run/node-agent/node-agent.sock'
server:
    address: localhost
    port: 443
    token: "/etc/intel_edge_node/tokens/platform-telemetry-agent/access_token"
misc:
    kubectl: "/var/lib/rancher/k3s/bin/k3s kubectl"
    telegrafConfigMap: 'get configmap telegraf-config -n observability -o jsonpath="{.data.base-ext-telegraf\.conf}"'
    telegrafPatchConfigMap: 'patch configmap telegraf-config -n observability'
    telegrafRestartPods: 'delete pods -l app.kubernetes.io/name=telegraf -n observability'
    fluentbitConfigMap: 'get configmap fluent-bit -n observability -o jsonpath="{.data.fluent-bit\.conf}"'
    fluentbitPatchConfigMap: 'patch configmap fluent-bit-config -n observability'
    fluentbitRestartPods: 'delete pods -l app.kubernetes.io/name=fluent-bit -n observability'
    fileOwner: "platform-observability-agent"
