Source: cluster-agent
Maintainer: Cluster Agent Team <team@example.com>
Section: misc
Priority: optional
Standards-Version: 1.0.0
Build-Depends: debhelper-compat (= 12)

Package: cluster-agent
Architecture: any
Depends: ${misc:Depends}, apparmor-utils, curl
Description: installs/uninstalls orchestration software on an edge node
 using command obtained from Cluster Orchestrator.
