# SPDX-FileCopyrightText: (C) 2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

---
version: v0.10.0
logLevel: info
GUID: 'aaaaaaaa-0000-1111-2222-bbbbbbbbcccc'
onboarding:
  enabled: true
  serviceURL: infra.test.edgeorch.intel.com:443
  heartbeatInterval: 10s
status:
  endpoint: '/run/node-agent/node-agent.sock'
  serviceClients: [ hardware-discovery-agent, cluster-agent, platform-manageability-agent, platform-update-agent, platform-telemetry-agent ]
  outboundClients: [ platform-observability-collector, platform-observability-health-check, platform-observability-logging, platform-observability-metrics ]
  networkEndpoints:
    - name: client-proxy
      url: http://localhost:60444/files-edge-orch/edge-node.asc
metrics:
  enabled: true
  endpoint: 'unix:///run/platform-observability-agent/platform-observability-agent.sock'
  interval: 10s
auth:
  accessTokenURL: keycloak.edgeorch.intel.com
  rsTokenURL: token-provider.edgeorch.intel.com
  accessTokenPath: /etc/intel_edge_node/tokens
  clientCredsPath: /etc/intel_edge_node/client-credentials
  tokenClients: [ node-agent,  hd-agent, cluster-agent, platform-update-agent, platform-observability-agent, platform-telemetry-agent, prometheus, connect-agent, attestation-manager, platform-manageability-agent ]
