Source: platform-telemetry-agent
Maintainer: Teoh Suh Haw <suh.haw.teoh@intel.com>
Section: misc
Priority: optional
Standards-Version: 1.0.0
Build-Depends: debhelper-compat (= 12)

Package: platform-telemetry-agent
Architecture: any
Depends:  ${shlibs:Depends}, apparmor-utils
Description:  telemetry-agent collect telemetry data to telemetry manager
 Collected telemetry data consist of cpu usage, memory usage and etc.
