Source: hardware-discovery-agent
Maintainer: Hardware Discovery Agent Team <team@example.com>
Section: misc
Priority: optional
Standards-Version: 1.0.0
Build-Depends: debhelper-compat (= 12)

Package: hardware-discovery-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apparmor-utils, dmidecode, udev, usbutils, ipmitool, lshw, pciutils
Description: hd-agent reports host hardware information to Edge Infrastructure Manager
 Collected hardware description consist of cpu, memory, disks,
 network and usb devices.
