---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: Lint manifest

on:
  pull_request:
    branches:
      - main
      - release-*
    paths:
      - 'ena-manifest.yaml'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  lint-manifest:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd   # v6.0.2
        with:
          persist-credentials: false   # Do not persist credentials, otherwise they will clash with credentials set by bootstrap action
          fetch-depth: 0   # Fetch all history, WO sporadic issue with missing tags
          fetch-tags: true   # Fetch tags
          ref: ${{ github.head_ref }}   # Checkout the branch that triggered the workflow to avoid detached HEAD

      - name: Checkout action repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd   # v6.0.2
        with:
          repository: open-edge-platform/orch-ci
          path: ci
          token: ${{ secrets.SYS_EMF_GH_TOKEN }}
          persist-credentials: false
      - name: Setup CI environment
        uses: open-edge-platform/orch-ci/.github/actions/bootstrap@467367d6f859a4654f2645ca78efd60035cf390c  # 2026.0.8
        with:
          gh_token: ${{ secrets.SYS_EMF_GH_TOKEN }}
          bootstrap_tools: "yq"

      - name: Check manifest version
        run: |
          ./common/ci_scripts/manifest-versioning.sh check

      - name: Lint manifest
        shell: bash
        run: |
          yamllint ena-manifest.yaml
